@use "../core/variables" as vars;

.search {
  padding: 10px 20px 20px;
  text-align: center;
  background-color: vars.$bg-color;

  &__text {
    padding: 5px 100px 5px 10px;
    background-color: vars.$bg-color;
    border: 2px solid vars.$main-color;
    border-radius: 5px;
    color: vars.$main-color;

    &:focus {
      outline: none;
      box-shadow: vars.$main-color 0px 0px 5px;
    }
  }

  &__submit,
  &__reset {
    padding: 5px 10px;
    background-color: vars.$main-color;
    border: 2px solid vars.$main-color;
    border-radius: 5px;
    color: vars.$bg-color;

    &:hover {
      opacity: 70%;
      cursor: pointer;
    }
  }
}
