@use "../core/variables" as vars;

.search {
  padding: 20px 20px 10px;
  text-align: center;

  &__text {
    padding: 5px 10px;
  }

  &__submit {
    padding: 5px 10px;
  }

  &__reset {
    padding: 5px 10px;
  }
}
