@use "../core/variables" as vars;

.container {
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 20px;
  min-height: 1000px;
  background-color: #beaa9c;

  &__results {
    border-radius: 5px;
    border: 2px solid #2f2114;
    width: 65%;
    color: #ded4c8;

    &__title {
      background-color: #2f2114;
      color: #ded4c8;
      padding: 10px;
    }
  }

  &__favorites {
    border-radius: 5px;
    border: 2px solid #d46b2b;
    width: 35%;
    color: #ded4c8;

    &__title {
      background-color: #d46b2b;
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.list-results {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  & li {
    width: 200px;
    text-align: center;
    & img {
      width: 100%;
    }
  }
}

.list-favs {
  padding: 10px;

  & li {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 200px;

    & img {
      height: 100%;
    }

    & button {
      border: none;
      font-weight: bold;
      padding: 5px 8px;
      border-radius: 20px;
      color: #d46b2b;
      background-color: #ded4c8;

      &:hover {
        cursor: pointer;
        opacity: 70%;
      }
    }
  }
}

.delete-all-btn {
  border: none;
  padding: 5px 8px;
  border-radius: 20px;
  color: #d46b2b;
  background-color: #ded4c8;

  &:hover {
    cursor: pointer;
    opacity: 70%;
  }
}

.favorite {
  border: 5px solid #181e28;
  color: #181e28;
}
