@use "../core/variables" as vars;

.container {
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 20px;
  min-height: 87vh;
  background-color: vars.$bg-color;

  &__results {
    border-radius: 5px;
    border: 2px solid vars.$results-color;
    width: 65%;
    color: vars.$font-color;

    &__title {
      background-color: vars.$results-color;
      color: vars.$font-color;
      padding: 10px;
    }
  }

  &__favorites {
    border-radius: 5px;
    border: 2px solid vars.$favs-color;
    width: 35%;
    color: vars.$font-color;

    &__title {
      background-color: vars.$favs-color;
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.list-results {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  & li {
    width: 200px;
    text-align: center;

    &:hover {
      cursor: pointer;
      border: 5px solid vars.$main-color;
      color: vars.$main-color;
      box-shadow: vars.$main-color 0px 0px 4px 1px;
    }

    & img {
      width: 100%;
    }
  }
}

.list-favs {
  padding: 10px;

  & li {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 200px;

    & img {
      height: 100%;
    }

    & button {
      border: none;
      font-weight: bold;
      padding: 5px 8px;
      border-radius: 20px;
      color: vars.$favs-color;
      background-color: vars.$font-color;

      &:hover {
        cursor: pointer;
        opacity: 70%;
      }
    }
  }
}

.delete-all-btn {
  border: none;
  padding: 5px 8px;
  border-radius: 20px;
  color: vars.$favs-color;
  background-color: vars.$font-color;

  &:hover {
    cursor: pointer;
    opacity: 70%;
  }
}

.favorite {
  border: 5px solid vars.$main-color;
  color: vars.$main-color;
  box-shadow: vars.$main-color 0px 0px 4px 1px;
}
